.shortcut {
    height: 40px;
    background-color: rgb(233, 235, 236);
}


.header {
    height: 42px;
    padding: 11px;
    border-bottom:#b0d9ff 2px solid;
}

.menu {
    position: relative;
    float: left;
    padding: 11px 15px 15px 0px;
    font-family: "iconfont";
    font-size: 24px;
    
}

.menu a:hover {
    color:rgb(255, 100, 100);
}

.menu ul {
    visibility: hidden;
    position: absolute;
    top: 80%;
    width: 275px;
    background: skyblue;
    transition: all 1s ease;
}

.menu ul li {
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    text-indent: 0.5em;
    color: hotpink;
}

.menu a:hover + ul {
    visibility: visible;
}


.logo {
    float: left;
    width: 100px;
    
}

.logo h1 a {
    display: block;
    background: url(images/logo.png) no-repeat;
    text-indent: -999em;
}

.nav {
    float: right;
}

.nav ul li {
    float: left;
    margin:0 45px;
}

.nav ul li a{
    padding:0 15px; 
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:hotpink;
    color: rgb(25, 189, 253);
}

.search {
    float: left;
    width: 480px;
    height: 42px;
    margin-left: 150px;
}

.search input {
    float:left;
    width: 360px;
    height: 38px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-style: solid;
    border-color:rgb(25, 189, 253);
    border-right: none;
    color:silver;
    font-size: 16px;
    padding-left:15px;
    outline: none;
}

.search button {
    float:left;
    width: 60px;
    height: 42px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border:none;
    background-color: rgb(25, 189, 253);
    font-size: 16px;
    color:#666;
    outline: none;
    transition: all 0.5 ease;
}

.search button:hover {
    color: #000;
}

.banner {
    position: relative;
    height: 550px;
    transition: all 0.3s ease;  
}

.banner:hover {
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.657);
}


.banner .saber {
    height: 550px;
    background-image: url(images/saber.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 187% 9%;
    background-color: #fff;
    transition: all 0.3s ease;
}

.banner:hover .saber{
    background-size: 85%;
}

.banner .name {
    position: absolute;
    height: 550px;
    width: 100%;
    background-image: url(images/saber-1.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center 30%;
    transition: all 0.3s ease;
}

.banner .name:hover {
    background-size: 130%;
}


.each {
    height: 60px;
    background-color: #fff;
    box-shadow: 10px 5px 10px 1px #00000036;
    border-radius: 3px;
    margin-top: 20px;   
}

.each ul li{
    float: left;
    height:60px;
    width: 600px;
}
.each ul li a{
    height:60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    padding:20px 200px;
    color:#050505;
}

.each ul li a:hover {
    color:rgb(253, 81, 81);
}

.each ul li:hover {
    background:rgb(25, 189, 253);
}

.box-bd {
    height: 950px;
    background-color: #f0f0f0;
    color: #dadada;
}

.box-bd ul li {
    float:left;
    width: 600px;
    /* background-color: pink; */
}
.box-bd ul li img {
    width: 100%;
}

.box-bd .big1:hover {
    background-color: pink;
}

.box-bd .big2:hover {
    background-color: skyblue;
}

.footer {
    height: 300px;
    margin: 60px 0px;
    background-color: #f0f0f0;

    /* color:pink; */
}

.footer .left {
    float:left;
    width:auto;
}

.footer div div img {
    margin-top: 30px;
}

.footer div div p {
    font-size: 16px;
    color:#666;
    margin: 10px 30px;
}

.footer .right {
    float: right;
    width: auto;
}

.footer .right dl {
    margin:80px 0px 0px 100px;
    float:left;
}

.footer .right dl dt{
    font-size: 24px;
    font-weight: 700;
    margin: 30px;
}

.footer .right dl dd{
    text-align: center;
    color:rgb(148, 148, 148);
}
